<app-header title="Manage Expenses"></app-header>


<div class="content-section implementation">
  <form novalidate #form="ngForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="searchExpenses(form)">

    <div class="ui-g ui-fluid">
      <div class="ui-g-12">

        <div class="ui-g-12 ui-lg-4 margin-top-10 font-size-16px">
          <span class="ui-float-label">
            <p-calendar
              [(ngModel)]="expenseSearchDTO.dateFrom"
              [locale]="europeLocale"
              dateFormat="dd.mm.yy"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [showIcon]="true"
              [touchUI]="true"
              yearRange="2019:2030"
              id="dateFrom"
              name="dateFrom">
            </p-calendar>
            <label for="dateFrom">Date From</label>
          </span>
        </div>

        <div class="ui-g-12 ui-lg-4 margin-top-10 font-size-16px">
          <span class="ui-float-label">
            <p-calendar
              [(ngModel)]="expenseSearchDTO.dateTo"
              [locale]="europeLocale"
              dateFormat="dd.mm.yy"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [showIcon]="true"
              [touchUI]="true"
              [required]="true"
              yearRange="2019:2030"
              id="dateTo"
              name="dateTo">
            </p-calendar>
            <label for="dateTo">Date To</label>
          </span>
        </div>

        <div class="ui-g-12 ui-lg-4 margin-top-10 font-size-16px">
          <span class="ui-float-label">

            <p-multiSelect [options]="groupmatesOptions" [(ngModel)]="expenseSearchDTO.selectGroupmates" id="groupmates" name="groupmates" optionLabel="label">
              <ng-template let-value pTemplate="selectedItems">
                <div *ngFor="let val of value" class="ui-multiselected-item-token ui-corner-all">
                  <i class="pi pi-users" *ngIf="val.type == 'GROUP'"></i>
                  <span style="margin-left:.25em">{{val.label}}</span>
                </div>
                <span *ngIf="!value || value.length === 0" class="ui-multiselected-empty-token ui-corner-all">Choose</span>
              </ng-template>

              <ng-template let-group pTemplate="group">
                <i class="pi pi-users" *ngIf="group.value.type == 'GROUP'"></i>
                <span style="margin-left:.25em">{{group.label}}</span>
              </ng-template>
            </p-multiSelect>

            <label for="groupmates">Groupmates</label>
          </span>
        </div>

      </div>

      <div class="flex-container ui-g-12">

        <div class="ui-xl-1 ui-lg-2 ui-md-3 ui-sm-6">
          <button pButton label="Search" icon="fa fa-search" type="submit"></button>
        </div>

      </div>
    </div>

  </form>
</div>

<div class="flex-container ui-g-12">

  <p-chart type="pie" [data]="chartData" width="100vw" height="60vh"></p-chart>

</div>
