<div id="layout-topbar">
  <a href="#" class="menu-button" (click)="onMenuButtonClick($event)">
    <i class="fa fa-bars"></i>
  </a>

  <a href="#" class="logo" [routerLink]="['/']">
    <img alt="logo" src="assets/images/logo.png"/>
    <span class="appName">Thing Tracker</span>
  </a>

  <ul class="topbar-menu">
    <li *ngIf="authenticationService.loggedUser == null" class="topMenuItemOffser">
      <a [routerLink]="['/login']">Login</a>
    </li>

    <li  *ngIf="authenticationService.loggedUser != null" (click)="op1.toggle($event)">
      <a class="topMenuItemOffset">{{authenticationService.loggedUser?.email}}</a>
    </li>
    <p-overlayPanel #op1>
      <div>
        <button pButton icon="fa fa-sign-out" title="Log out" label="Log out" (click)="logout()"></button>
      </div>
    </p-overlayPanel>

    <li *ngIf="authenticationService.loggedUser != null" style="cursor: pointer" (click)="op2.toggle($event)">
      <a>
        <span class="pi pi-envelope messageIcon messageOffset"></span>
        <span class="messageOffset">{{messages?.length != 0 ? messages?.length : null}}</span>
      </a>
    </li>
    <p-overlayPanel #op2>
      <div *ngIf="messages?.length > 0" class="user-messages-container break-word">
        <div *ngFor="let row of messages">

          <p-card header="{{row.sender}}" [style]="{width: '360px'}" styleClass="ui-card-shadow">
            <div>{{row.message}}</div>
            <p-footer>
              <button [disabled]="row.loading" (click)="respondToMessage(row, true)" pButton icon="pi pi-check" label="Accept" title="Accept"></button>
              <button [disabled]="row.loading" (click)="respondToMessage(row, false)" pButton icon="pi pi-times" label="Reject" title="Reject"></button>
              <p-progressBar *ngIf="row.loading" mode="indeterminate" [style]="{'height': '6px', 'margin': '6px 0'}"></p-progressBar>
            </p-footer>
          </p-card>

        </div>
      </div>
      <div *ngIf="!(messages?.length > 0)" class="flex-container-center" style="height: 360px; width: 360px">
        <div style="white-space: nowrap">Nothing new</div>
      </div>
    </p-overlayPanel>

  </ul>
</div>

<div id="layout-sidebar" [ngClass]="{'active': menuActive}">
  <div class="layout-menu">

    <a id="home_menu" [routerLink]="['/dashboard']" #home_menu_title
       (click)="menuActive = false"
       [class.active-menuitem]="home_menu_title.id == activeMenuId">
        <span>
          <div class="menuIconContainer">
            <i class="pi pi-home menuIcon"></i>
          </div>
          Dashboard
        </span>
    </a>

    <a id="add_expense_menu" [routerLink]="['add-expense']" #expense_menu_title
       (click)="menuActive = false"
       [class.active-menuitem]="expense_menu_title.id == activeMenuId">
        <span>
          <div class="menuIconContainer">
            <i class="pi pi-plus menuIcon"></i>
          </div>
          Add Expense
        </span>
    </a>

    <a id="my_expenses_menu" [routerLink]="['manage-expense']" #my_expenses_menu_title
       (click)="menuActive = false"
       [class.active-menuitem]="my_expenses_menu_title.id == activeMenuId">
        <span>
          <div class="menuIconContainer">
            <i class="pi pi-list menuIcon"></i>
          </div>
          Manage Expenses
        </span>
    </a>

    <a id="profile_menu" [routerLink]="['profile']" #profile_menu_title
       (click)="menuActive = false"
       [class.active-menuitem]="profile_menu_title.id == activeMenuId">
        <span>
          <div class="menuIconContainer">
            <i class="pi pi-user menuIcon"></i>
          </div>
          Profile
        </span>
    </a>

    <a id="my_groups_menu" [routerLink]="['my-groups']" #my_groups_menu_title
       (click)="menuActive = false"
       [class.active-menuitem]="my_groups_menu_title.id == activeMenuId">
        <span>
          <div class="menuIconContainer">
            <i class="pi pi-users menuIcon"></i>
          </div>
          My Groups
        </span>
    </a>

    <a id="about_menu" [routerLink]="['/login']" #about_menu_title
       (click)="menuActive = false"
       [class.active-menuitem]="about_menu_title.id == activeMenuId">
        <span>
          <div class="menuIconContainer">
            <i class="pi pi-question-circle menuIcon"></i>
          </div>
          About Application
        </span>
    </a>

    <div class="layout-version">
      <div *ngIf="host">
        {{' Host name: ' + host.hostName}}
      </div>
      <div *ngIf="version">
        <div>
          {{'Branch ' + version['git.branch']}},
          {{' Commit time '}} {{version['git.commit.time'] | date: 'dd.MM.yyyy HH:mm:ss'}},
        </div>
        <div>
          {{'Commit id ' + version['git.commit.id']}}
        </div>
        <div>
          {{'User ' + version['git.commit.user.name']}}
        </div>
        <div>
          {{version['git.commit.message.short']}}
        </div>
      </div>
    </div>


  </div>
</div>

<div class="layout-mask" *ngIf="menuActive">
</div>

<div id="layout-content">
  <router-outlet></router-outlet>
</div>
