<div id="layout-topbar">
  <a href="#" class="menu-button" (click)="onMenuButtonClick($event)">
    <i class="fa fa-bars"></i>
  </a>

  <a href="#" class="logo" [routerLink]="['/']">
    <img alt="logo" src="assets/images/logo.png"/>
    <span class="appName">Thing Tracker</span>
  </a>

  <ul class="topbar-menu">
    <li>
      <a href="#" [routerLink]="['/setup']">{{authenticationService.loggedUser?.email}}</a>
    </li>
  </ul>
</div>

<div id="layout-sidebar" [ngClass]="{'active': menuActive}">
  <div class="layout-menu">

    <a id="home_menu" [routerLink]="['/dashboard']" #home_menu_title
       (click)="menuActive = false"
       [class.active-menuitem]="home_menu_title.id == activeMenuId">
        <span>
          <div class="menuIconContainer">
            <i class="pi pi-home menuIcon"></i>
          </div>
          Dashboard
        </span>
    </a>

    <a id="add_expense_menu" [routerLink]="['add-expense']" #expense_menu_title
       (click)="menuActive = false"
       [class.active-menuitem]="expense_menu_title.id == activeMenuId">
        <span>
          <div class="menuIconContainer">
            <i class="pi pi-plus menuIcon"></i>
          </div>
          Add Expense
        </span>
    </a>

    <a id="my_expenses_menu" [routerLink]="['manage-expense']" #my_expenses_menu_title
       (click)="menuActive = false"
       [class.active-menuitem]="my_expenses_menu_title.id == activeMenuId">
        <span>
          <div class="menuIconContainer">
            <i class="pi pi-list menuIcon"></i>
          </div>
          Manage Expenses
        </span>
    </a>

    <a id="my_group_menu"
       #my_group_menu_title [class.active-menuitem]="my_group_menu_title.id == activeMenuId"
       (click)="activeMenuId = (activeMenuId === my_group_menu_title.id ? null : my_group_menu_title.id)">
      <span>
        <div class="menuIconContainer">
          <i class="pi pi-user menuIcon"></i>
        </div>
        Profile
      </span>
    </a>
    <div [ngClass]="{submenushow: (my_group_menu_title.id == activeMenuId), 'submenuhide': (my_group_menu_title.id != activeMenuId)}">
      <a [routerLink]="['add-to-group']" (click)="menuActive = false">&#9679; Profile</a>
      <a [routerLink]="['add-to-group']" (click)="menuActive = false">&#9679; Notifications</a>
      <a [routerLink]="['add-to-group']" (click)="menuActive = false">&#9679; Add User</a>
      <a [routerLink]="['my-group']" (click)="menuActive = false">&#9679; My Group</a>
    </div>

    <a id="about_menu" [routerLink]="['/login']" #about_menu_title
       (click)="menuActive = false"
       [class.active-menuitem]="about_menu_title.id == activeMenuId">
        <span>
          <div class="menuIconContainer">
            <i class="pi pi-question-circle menuIcon"></i>
          </div>
          About Application
        </span>
    </a>


  </div>
</div>

<div class="layout-mask" *ngIf="menuActive">
</div>

<div id="layout-content">
  <router-outlet></router-outlet>
</div>
