<app-header title="{{groupDTO?.name}}"></app-header>


<div class="content-section implementation ui-fluid">
  <form novalidate #form="ngForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="inviteToGroup(form)">

    <div class="ui-g">
      <div class="flex-container ui-g-12">

        <div class="ui-g-12 ui-lg-6 margin-top-10">
          <span class="ui-float-label">
            <p-autoComplete
              [(ngModel)]="users"
              [suggestions]="userSuggestions"
              (completeMethod)="searchUserSuggestions($event)"
              [minLength]="1"
              [multiple]="true"
              [forceSelection]="true"
              [required]="true"
              field="fullNameAndEmail"
              name="types"
              id="types">
            </p-autoComplete>
            <label for="types">Users</label>
          </span>
        </div>

        <div class="ui-xl-1 ui-lg-2 ui-md-3 ui-sm-6">
          <button pButton label="Add" icon="fa fa-paper-plane" type="submit"></button>
        </div>

      </div>
    </div>

  </form>
</div>
