<app-header title="Add Expense"></app-header>

<div class="content-section implementation ui-fluid">
  <form novalidate #form="ngForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="saveExpense(form)">

    <div class="ui-g">
      <div class="flex-container ui-g-12">

        <div class="ui-g-12 ui-lg-8 margin-top-10">
          <span class="ui-float-label">
            <p-autoComplete
              [(ngModel)]="expense.types"
              [suggestions]="expenseTypes"
              (completeMethod)="searchExpenseTypes($event)"
              (onSelect)="expenseTypesOnSelect($event)"
              (onKeyUp)="expenseTypesOnKeyUp($event)"
              (onBlur)="expenseTypesOnBlur($event)"
              (onUnselect)="onUnselect($event)"
              [multiple]="true"
              name="types"
              id="types">
            </p-autoComplete>
            <label for="types">Types</label>
          </span>
        </div>

        <div class="ui-g-12 ui-lg-8 margin-top-10">
          <p-spinner [placeholder]="'Price'" size="30" [(ngModel)]="expense.price" [required]="true" name="price" id="price">
          </p-spinner>
        </div>

        <div class="ui-g-12 ui-lg-8 margin-top-10">
          <span class="ui-float-label">
            <input [(ngModel)]="expense.comment" id="comment" name="comment" type="text" size="30" pInputText>
            <label for="comment">Comment (optional)</label>
          </span>
        </div>

        <div class="ui-xl-1 ui-lg-2 ui-md-3 ui-sm-6">
          <button pButton label="Save" icon="fa fa-paper-plane" type="submit" id="submit"></button>
        </div>

      </div>
    </div>

  </form>
</div>
