<div class="content-section introduction">
  <div>
    <span class="feature-title">Add Expense</span>
    <span></span>
  </div>
</div>

<div class="content-section implementation">
  <form novalidate #form="ngForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="saveExpense(form)">

    <span class="ui-float-label">
      <p-autoComplete
        [(ngModel)]="expense.types"
        [suggestions]="results"
        (completeMethod)="search($event)"
        (onKeyUp)="onKeyUp($event)"
        [multiple]="true"
        name="types"
        id="types">
      </p-autoComplete>
      <label for="types">Types</label>
    </span>

    <p-spinner [placeholder]="'Price'" size="30" [(ngModel)]="expense.price" [required]="true" name="price" id="price">
    </p-spinner>


    <span class="ui-float-label">
            <input [(ngModel)]="expense.comment" id="comment" name="comment" type="text" size="30" pInputText>
            <label for="comment">Comment (optional)</label>
    </span>

    <button pButton label="Save" icon="fa fa-paper-plane" type="submit"></button>

  </form>
</div>
