<div class="content-section introduction">
  <div>
    <span class="feature-title">Add Expense</span>
    <span></span>
  </div>
</div>

<div class="content-section implementation ui-fluid">
  <form novalidate #form="ngForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="saveExpense(form)">

    <div class="ui-g">
      <div class="flex-container ui-g-12">

        <div class="ui-g-12 ui-lg-8 margin-top-10">
          <span class="ui-float-label">
            <p-autoComplete
              [(ngModel)]="expense.types"
              [suggestions]="results"
              (completeMethod)="search($event)"
              (onKeyUp)="onKeyUp($event)"
              [multiple]="true"
              name="types"
              id="types">
            </p-autoComplete>
            <label for="types">Types</label>
          </span>
        </div>

        <div class="ui-g-12 ui-lg-8 margin-top-10">
          <p-spinner [placeholder]="'Price'" size="30" [(ngModel)]="expense.price" [required]="true" name="price" id="price">
          </p-spinner>
        </div>

        <div class="ui-g-12 ui-lg-8 margin-top-10">
          <span class="ui-float-label">
            <input [(ngModel)]="expense.comment" id="comment" name="comment" type="text" size="30" pInputText>
            <label for="comment">Comment (optional)</label>
          </span>
        </div>

        <div class="ui-g-12 ui-lg-8">
          <button pButton label="Save" icon="fa fa-paper-plane" type="submit"></button>
        </div>

      </div>
    </div>

  </form>
</div>
