<div class="content-section introduction">
  <div>
    <span class="feature-title">Login</span>
    <span></span>
  </div>
</div>


<div class="content-section implementation ui-fluid">
  <form novalidate #form="ngForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="login(form)">

    <div class="ui-g">
      <div class="flex-container ui-g-12">


        <div class="ui-xl-3 ui-lg-4 ui-md-6 ui-sm-12 margin-top-10">
          <span class="ui-float-label">
            <input [(ngModel)]="user.username" id="username" name="username" type="text" size="30" pInputText>
            <label for="username">Login</label>
          </span>
        </div>

        <div class="ui-xl-3 ui-lg-4 ui-md-6 ui-sm-12 margin-top-10">
          <span class="ui-float-label">
            <input [(ngModel)]="user.password" id="password" name="password" type="password" size="30" pInputText>
            <label for="password">Password</label>
          </span>
        </div>

        <div class="ui-xl-3 ui-lg-4 ui-md-6 ui-sm-12">
          <button pButton label="Submit" icon="fa fa-paper-plane" type="submit"></button>
        </div>

      </div>
    </div>

  </form>
</div>
