@import 'assets/primeng/css/site.css';

.menuIconContainer {
  float: left;
  margin-right: 5px;
}
.menuIcon {
  font-size: 1.6em !important;
}

//messages
.messageIcon {
  font-size: 2.5em !important;
}
.messageOffset {
  position: relative;
  top: 10px;
}
.messageButton {
  margin-right: 4px !important;
}

.user-messages-container {
  overflow: auto;
  padding-bottom: 15px;
}

/* width */
.user-messages-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.user-messages-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.user-messages-container::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.user-messages-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.break-word {
  word-wrap: break-word;
}


.ui-button {
  background-color: #34393a !important;
  border-color: #EFEFEF !important;
}
.ui-button:hover {
  background-color: #4a4f52 !important;
  border-color: #EFEFEF !important;
}
//fix for calendar icon
.font-size-16px .ui-button{
  font-size: 16px !important;
}
//calendar selected date
.ui-datepicker a.ui-state-active {
  background-color: #4a4f52 !important;
}
//calendar touchUI z-index fix
.ui-widget-overlay.ui-datepicker-mask.ui-datepicker-mask-scrollblocker {
  z-index: 10000 !important;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-shadow.ui-datepicker-touch-ui.ng-star-inserted {
  z-index: 20001 !important;
}
//block ui z-index fix
.ui-blockui.ui-widget-overlay {
  z-index: 11000 !important;
}


body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-token {
  background: #34393a !important;
  color: #EFEFEF !important;
}
.ui-autocomplete-list-item.ui-state-highlight {
  background: #404C51 !important;
  color: #ffffff !important;
}

.ui-multiselect-item.ui-state-highlight {
  background: #404C51 !important;
  color: #ffffff !important;
}
.ui-chkbox-box.ui-state-active {
  border-color: #ffffff !important;
  background-color: #ffffff !important;
  color: #404C51 !important;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-container-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.margin-top-10 {
  margin-top: 10px;
}

//prevent auto zoom
input, input:active, input:focus, input:focus-within, input:hover, input:visited {
  font-size: 16px !important;
}

.toastMessage {
  margin-top: 85px;
}
.ui-toast-message-success {
  background-color: #80d680 !important;
}

.progress-spinner-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
