@import 'assets/primeng/css/site.css';

.menuIconContainer {
  float: left;
  margin-right: 5px;
}
.menuIcon {
  font-size: 1.6em !important;
}


.ui-button {
  background-color: #34393a !important;
  border-color: #EFEFEF !important;
}
.ui-button:hover {
  background-color: #4a4f52 !important;
  border-color: #EFEFEF !important;
}



body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-token {
  background: #34393a !important;
  color: #EFEFEF !important;
}
.ui-autocomplete-list-item.ui-state-highlight {
  background: #404C51 !important;
  color: #ffffff !important;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.margin-top-10 {
  margin-top: 10px;
}

//prevent auto zoom
input, input:active, input:focus, input:focus-within, input:hover, input:visited {
  font-size: 16px !important;
}

.toastMessage {
  margin-top: 85px;
}
.ui-toast-message-success {
  background-color: #80d680 !important;
}
