@import 'assets/primeng/css/site.css';

.menuIconContainer {
  float: left;
  margin-right: 5px;
}
.menuIcon {
  font-size: 1.6em !important;
}

.messageIcon {
  font-size: 2.5em !important;
}

.messageOffset {
  position: relative;
  top: 10px;
}

.messageButton {
  margin-right: 4px !important;
}

.ui-button {
  background-color: #34393a !important;
  border-color: #EFEFEF !important;
}
.ui-button:hover {
  background-color: #4a4f52 !important;
  border-color: #EFEFEF !important;
}

.authenticationDiv {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px !important;
  height: 450px;
  margin: auto;
  background-color: #F7F7F9;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.loginHeader {
  margin-top: 60px;
}

.loginDiv {
  margin-top: 25px;
  margin-left: 80px !important;
}

.loginInput {
  width: 350px;
}

.marginBottom25 {
  margin-bottom: 25px !important;
}

.marginRight25 {
  margin-right: 25px;
}

.marinTop50 {
  margin-top: 50px;
}

.submitLogin {
  margin-bottom: 25px;
  margin-left: 110px;
}

.registrationHeader {
  margin-top: 25px;
  text-align: center;
}

.registrationDiv {
  margin-top: 25px;
  margin-left: 80px !important;
}

.topicContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.topicCard {
  background-color: #F7F7F9;
  float: left;
  width: 350px;
  min-height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  padding: 30px;
  margin: 30px;

  font-size: 26px;
  text-align: center;
  position: relative;
}

.topicCard:hover {
  background-color: #efeff2;
  cursor: pointer;
}

.newTopicContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.topicDiv {
  width: 500px !important;
  background-color: #F7F7F9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center
}

.loginBodyDiv {
  width: 500px;
  height: 480px;
  background-color: #F7F7F9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topicNameTextArea {
  width: 320px;
  height: 100px;
}

.topicNameWideTextArea {
  width: 100%;
  height: 100px;
}

.ui-float-label > label[class="topicNameLabel"] {
  top: 10%;
}

.ui-float-label > label[class="evidenceLabel"] {
  top: -0.5em;
  left: 0em;
}

.ui-float-label > label[class="topicHypotheseNameLabel"] {
  top: -50%;
  left: 0;
}

.evidenceTableContainer {
  display: flex;
  margin: 30px;
}

.hypothesesSpan {
  margin: 0 0 0 5px;
}

.evidenceHeader {
  background-color: #F7F7F9;
  padding: 15px 100px;
  text-align: center;
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.evidenceContent {
  background-color: #F7F7F9;
  padding: 10px 100px;
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.evidenceCreatorSignature {
  float: right;
  margin-bottom: 25px;
}

.commentBody {
  margin-bottom: 25px;
  background-color: #f9f9f9;
  padding-bottom: 1px;
}

.commentText {
  margin-left: 20px;
  margin-right: 20px;
}

.commentHeader {
  background-color: #F7F7F9;
  padding: 5px 100px;
  text-align: left;
  margin-bottom: 10px;
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
  min-height: 32px;
}

.addComment {
  width: 80%;
  margin: 0 auto;
}

.evidenceSave {
  text-align: center;
  margin-top: 25px;
}


/*toolbar*/
.ui-menubar-custom {
  float: left !important;
  width: 100% !important;
}

.forumImage {
  height: 30px;
  cursor: pointer;
  margin-right: 80px;
  margin-left: 20px;
}

.dashboardLink {
  text-decoration: none !important;
  margin-right: 5px;
}

.ui-menuitem.ui-widget.ui-corner-all {
  margin: 0.35em 0 !important;
}

.ui-menu.ui-corner-all{
  border-radius: 0 !important;
}

.activeLink {
  color: #014c8c !important;
  background-color: #e1e4ea;
}

.menuLink {
  color: #356a93 !important;
  font-weight: 600 !important;
}
.menuLink:hover {
  background-color: #d5deef;
}

.authenticationButton {
  float: right;
  margin-top: 4px;
}


/*table colors*/
.veryGoodCell {
  background-color: #1BC700 !important;
}
.goodCell {
  background-color: #009926 !important;
}
.badCell {
  background-color: #ed4949 !important;
}
.varyBadCell {
  background-color: #B40000 !important;
}
.normalCell {
  background-color: #d6d4d4 !important;
}

.profileLink {
  float: left;
}
a.profileLink {
  color: #1e1e21;
}
a:hover.profileLink {
  color: #1f7db7;
  text-decoration: none;
}
a:visited.profileLink {
}

.deleteComment {
  float: right;
  cursor: pointer;
}
.deleteComment:hover {
  color: #1f7db7;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #F7F7F9;
  text-align: right;
  padding-right: 20px;
}

.deleteTopic {
  position: absolute;
  bottom: 10px;
  right: 25px;
}


body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-token {
  background: #34393a !important;
  color: #EFEFEF !important;
}






//---------------------------------------   mobile    ----------------------------------------------
//---------------------------------------   portrait    ----------------------------------------------
@media only screen and (max-device-width: 550px) and (orientation:portrait){
  .loginBodyDiv {
    background-color: white;
    box-shadow: none;
    text-align: center;
  }

  .newTopicContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
  }

  .loginInput {
    width: 350px;
  }

  .submitLogin {
    margin-left: 120px;
  }

  .loginHeader {
    margin-left: 80px;
  }
}

@media only screen and (max-device-width: 440px) and (orientation:portrait){
  .loginInput {
    width: 250px;
  }
  .submitLogin {
    margin-left: 80px;
  }
}

@media only screen and (max-device-width: 380px) and (orientation:portrait){
  .loginInput {
    width: 200px;
  }
  .submitLogin {
    margin-left: 60px;
  }
}



//---------------------------------------   landscape    ----------------------------------------------
@media only screen and (max-device-height: 450px) and (orientation:landscape){
  .loginBodyDiv {
    background-color: white;
    box-shadow: none;
    text-align: center;
  }

  .newTopicContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 60%;
  }

  .loginInput {
    width: 520px;
  }

  .submitLogin {
    margin-left: 220px;
  }

  .loginHeader {
    margin-left: 250px;
    margin-top: 140px;
  }
  .loginDiv {
    padding-left: 50px;
  }
}

@media only screen and (max-device-height: 400px) and (orientation:landscape){
  .loginInput {
    width: 480px;
  }
  .submitLogin {
    margin-left: 180px;
  }
  .loginDiv {
    padding-left: 50px;
  }
}

@media only screen and (max-device-height: 350px) and (orientation:landscape){
  .loginInput {
    width: 420px;
  }
  .submitLogin {
    margin-left: 160px;
  }
  .loginDiv {
    padding-left: 50px;
  }
}
