<app-header title="Profile"></app-header>

<div class="content-section implementation ui-fluid">

  <p-tabView>

    <p-tabPanel header="Info" leftIcon="pi pi-user">
      <ng-template pTemplate="content">
        <app-profile-info *ngIf="user" [user]="user"></app-profile-info>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Expenses" leftIcon="pi pi-list">
      <ng-template pTemplate="content">
        <app-profile-expenses *ngIf="user" [user]="user"></app-profile-expenses>
      </ng-template>
    </p-tabPanel>

  </p-tabView>

</div>
