<div class="content-section introduction">
  <div>
    <span class="feature-title">Manage Expenses</span>
    <span></span>
  </div>
</div>

<div class="content-section implementation">
  <form novalidate #form="ngForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="searchExpenses(form)">

    <div class="ui-g ui-fluid">
      <div class="flex-container-center ui-g-12">

        <div class="ui-g-12 ui-lg-4 margin-top-10 font-size-16px">
          <span class="ui-float-label">
            <p-calendar
              [(ngModel)]="expenseSearchDTO.dateFrom"
              [locale]="europeLocale"
              dateFormat="dd.mm.yy"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [showIcon]="true"
              yearRange="2019:2030"
              id="dateFrom"
              name="dateFrom">
            </p-calendar>
            <label for="dateFrom">Date From</label>
          </span>
        </div>

        <div class="ui-g-12 ui-lg-4 margin-top-10 font-size-16px">
          <span class="ui-float-label">
            <p-calendar
              [(ngModel)]="expenseSearchDTO.dateTo"
              [locale]="europeLocale"
              dateFormat="dd.mm.yy"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [showIcon]="true"
              yearRange="2019:2030"
              id="dateTo"
              name="dateTo">
            </p-calendar>
            <label for="dateTo">Date To</label>
          </span>
        </div>

      </div>

      <div class="flex-container ui-g-12">

        <div class="ui-xl-1 ui-lg-2 ui-md-3 ui-sm-6">
          <button pButton label="Search" icon="fa fa-search" type="submit"></button>
        </div>

      </div>
    </div>

  </form>
</div>

<div class="flex-container ui-g-12">

  <p-chart type="pie" [data]="chartData" width="100vw" height="60vh"></p-chart>

</div>
